<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>        
        <add name="NorthwindConnection" connectionString="XpoProvider=MSSqlServer;Data Source=(local)\MSSQLSERVER2012;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=dx" />
    </connectionStrings>
</configuration>