<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="selishcheva-w81\sqlexpress.NORTHWND.dbo" connectionString="XpoProvider=MSSqlServer;data source=SELISHCHEVA-W81\SQLEXPRESS;integrated security=SSPI;initial catalog=NORTHWND" />
    </connectionStrings>
</configuration>